.navbar{
    background-color: rgb(31, 42, 64);
    color: white;
    -moz-user-select:none; /* firefox */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE*/
    user-select: none; /* Standard syntax */
    padding: 25px 25px 0 25px;

    .sissoko{
        font-family: "Roboto", sans-serif;
        margin: 0px;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.167;
        color: rgb(224, 224, 224);
    }
    .user{
        display: flex;
        flex-direction: column;
        align-items: center;
        .userimg{
            border-radius: 50%;
            width: 100px;
            height: 100px;
            margin-bottom: 20px;

        }
        .username{
            font-family: "Roboto", sans-serif;
            font-size: 32px;
            line-height: 1.2;
            color: rgb(224, 224, 224);
            font-weight: 700;
            margin: 10px 0px 0px ;
            font-weight: 600;
        }
        .userlevel{
            color: aquamarine;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
        }
    }

.navbarelements{
    display: flex;
    flex-direction: column;
    margin: 30px 30px 0 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;

    -moz-user-select:none; /* firefox */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE*/
    user-select: none; /* Standard syntax */

    .gruponame{
        display: block;
        margin-left: -15px;
        color: rgb(163, 163, 163);
    }
    .elementsflex{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        img{
            color: white;
            
        }
    }
}
}
